<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title> 
    <link rel="stylesheet" href="/css/main.css"/>    
</head>
<body>
    <script>
        setInterval(
        function () {
          var randomColor = Math.floor(Math.random()*16777215).toString(16);
          document.body.style.backgroundColor = "#"+randomColor;
        },1000);
        </script>
   <div class="mainDiv">
       <nav>
            <ul>
                <li class="main_header_item_list">
                    <a href="/">Student</a>
                </li>
                
                <li class="main_header_item_list">
                    <a href="/admin/add-teacher" class="active">Teacher</a>
                </li>
            </ul>
       </nav>
   </div>
   <h1> New Page Note Found</h1>
   
</body>
</html> 