<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <div >
        <h1>Login to add tests</h1>
        <a href="/">Home</a>
        </div>
        
    </div>
    <form action="/admin/add-teacher" method="GET">       
         Email: <input  class="textbox" type="email" name="email"/><br>
         Password: <input  class="textbox" type="password" name="pass"/><br>
         
         
        
     
     <button class="button" type="submit">Submit</button>
    </form>
</body>
</html>